* {
    margin: 0;
    padding: 1em;
    font-family: 'Lucida Console', Monaco, monospace;
    color: rgba(0,0,0,0.6);
}

html {
    background: #eeeded;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    width: 50%;
    border-radius: 25px;
    text-align: center;
    background: #2d7081;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.header-content {
    padding: 10px;
}

.header-title {
    font-size: 36px;
    padding: 10px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.nr-of-posts {
    font-size: 24px;
    align-self: center;
    padding: 20px;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

.nr-of-posts input {
    font-size: 18px;
    border-radius: 10px;
}

#blogSection {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.blogpost {
    margin-bottom: 30px;
    background: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.blogpost h2 {
    margin: 20px;
}

.blogpost h2:hover {
    border: 2px dashed #16373F;
}

.blogpost p {
    margin: 20px;
}

.blogpost p:hover {
    border: 2px dashed #16373F;
}

.blogpost input {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    border: 4px outset #2d7081;
    border-radius: 12px 0px 12px 0px;
    box-shadow: 5px 3px 18px 2px rgba(0,0,0,0.21);
}

.blogpost input:hover {
    cursor: pointer;
    border: 4px inset #2D7081;
    border-radius: 12px 0px 12px 0px;
    box-shadow: none;
}





